@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Playfair+Display:wght@400..900&family=Roboto+Slab:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Whisper&display=swap');


*{
  margin: 0px;
  padding: 0px;
  font-family: Playfair Display;
}
h1{
  font-family: Whisper;
  
}
